@import "../../assets/sass/main.scss";

.container {
  .product-wrapper {
    padding: 2rem;
    display: flex;
    align-items: start;
    gap: 2rem;

    @media screen and (max-width: $large-screen) {
      flex-direction: column;
      align-items: center;
    }

    @media screen and (max-width: $medium-screen) {
      flex-direction: column;
    }

    .product-left {
      display: flex;
      flex: 0 0 50%;
      //   border: 1px solid red;
      align-items: center;
      justify-content: center;

      img {
        width: 500px;
        height: 500px;
        object-fit: contain;
        border: 1px solid gray;
        border-radius: 8px;
        padding: 1rem;
      }
    }

    .product-right {
      display: flex;
      flex-direction: column;
      gap: 40px;
      flex: 0 0 50%;
      //   border: 1px solid red;
      padding-top: 3rem;

      @media screen and (max-width: $large-screen) {
        max-width: 500px;
        text-align: center;
        gap: 20px;
      }

      @media screen and (max-width: $medium-screen) {
        flex-direction: column;
      }

      .reviews {
        display: flex;
        align-items: center;
        gap: 10px;

        @media screen and (max-width: $medium-screen) {
          justify-content: center;
        }
      }

      .bottom {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 1rem;

        @media screen and (max-width: $large-screen) {
          justify-content: center;
        }

        @media screen and (max-width: $medium-screen) {
          justify-content: center;
        }

        .price {
          margin: 0;
          padding-inline: 24px;
          font-size: 1.5rem;
          background-color: rgb(231, 54, 54);
          border-radius: 20px;
          color: white;

          @media screen and (max-width: $medium-screen) {
            padding-inline: 15px;
            font-size: 1.1rem;
          }
        }

        button {
          margin: 0;
          padding: 12px 24px;
          border-radius: 8px;
          border: none;
          background-color: #0c21bc;
          color: white;
          transition: 0.3s ease-in;

          @media screen and (max-width: $medium-screen) {
            padding: 10px 14px;
            font-size: 0.8rem;
          }

          &:hover {
            background-color: #0b1a92;
          }
        }
      }
    }
  }
  .leave-comment-wrapper {
    padding: 2rem;
    display: flex;
    width: 50%;
    align-items: start;
    flex-direction: column;
    padding-bottom: 0;

    @media screen and (max-width: $large-screen) {
      margin: 0 auto;
    }

    @media screen and (max-width: $medium-screen) {
      width: 100%;
    }

    .comment-form {
      width: 100%;
    }
  }

  .comments-wrapper {
    padding: 2rem;
    padding-top: 0;
    display: flex;
    width: 50%;
    align-items: start;
    flex-direction: column;

    @media screen and (max-width: $large-screen) {
      margin: 0 auto;
    }

    @media screen and (max-width: $medium-screen) {
      width: 100%;
    }

    .single-comment {
      width: 100%;
      margin-bottom: 0.5rem;
    }
  }
}
