@import "../../assets/sass/main.scss";

.loader-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;

  .loader {
    width: 100px;
    height: 100px;
    border: 10px solid white;
    border-radius: 50%;
    border-top: 10px solid rgb(255, 47, 0);
    // border-bottom: 10px solid rgb(255, 106, 0);
    animation: spin 2s linear infinite;
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
