html
    head 
        title #{subject}
    body 
        h3 Hello #{username}
        p We have received a password reset request. Please use the below link to reset your password.
             a(href=url target='_blank') #{url}
        p This reset password link will be valid only for ten minutes.