@import "../../assets/sass/main.scss";

.add-product-wrapper {
  width: 100%;
  margin: 0 auto;
  background-color: #212529;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    color: aliceblue;
    border-bottom: 2px solid aliceblue;
    padding-block: 30px;

    h3 {
      text-align: center;
    }

    p {
      display: flex;
      gap: 5px;
      text-align: center;

      @media screen and (max-width: $small-screen) {
        font-size: 0.8rem;
        flex-wrap: wrap;
        justify-content: center;
      }

      span {
        display: flex;
        align-items: center;
        font-weight: bold;
        gap: 0.3rem;
        cursor: pointer;
        text-decoration: underline;
        transition: all 0.3s ease-in-out;

        &:hover {
          color: #0d6efd;
        }

        &:hover svg {
          transform: scale(1.1);
          transition: all 0.3s ease-in-out;
          color: #0d6efd;
        }

        svg {
          transition: all 0.3s;
        }
      }
    }
  }

  .add-product-form {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 50%;
    margin: 0 auto;
    padding-inline: 1rem;

    @media screen and (max-width: $large-screen) {
      width: 100%;
    }

    @media screen and (max-width: $medium-screen) {
      width: 100%;
    }

    @media screen and (max-width: $small-screen) {
      width: 100%;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      position: relative;
      width: 100%;

      label {
        padding-left: 0.5rem;
        font-size: 1.2rem;
        color: aliceblue;
      }

      input {
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
        outline: none;
        border: 1px solid gray;

        @media screen and (max-width: $medium-screen) {
          width: 100%;
        }

        @media screen and (max-width: $small-screen) {
          width: 100%;
        }
      }

      .input-image {
        color: aliceblue;
      }

      select {
        outline: none;
        padding: 0.5rem 1rem;
        border-radius: 0.25rem;
      }
    }
  }
}
