.modal-title {
  text-align: center;

  @media screen and (max-width: "768px") {
    font-size: 20px;
  }

  @media screen and (max-width: "480px") {
    font-size: 18px;
    line-height: normal;
  }
}

.modal-subtitle {
  text-align: center;

  @media screen and (max-width: "768px") {
    font-size: 12px;
  }

  @media screen and (max-width: "480px") {
    font-size: 10px;
  }
}

.forgot-pass-form {
  padding: 0;
  width: 100%;
  margin: 0 auto;

  @media screen and (max-width: "1024px") {
    // width: 70%;
  }

  @media screen and (max-width: "768px") {
    width: 100%;
  }

  .input-wrap {
    display: flex;
    flex-direction: column;

    label {
      user-select: none;

      @media screen and (max-width: "480px") {
        font-size: 12px;
      }
    }

    input {
      border-radius: 2px;
      outline: none;
      padding: 3px 6px;
      border: none;
      border: 1px solid gray;

      @media screen and (max-width: "480px") {
        font-size: 10px;
      }
    }
  }

  .btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 15px;

    button {
      @media screen and (max-width: "768px") {
        font-size: 14px;
      }

      @media screen and (max-width: "480px") {
        font-size: 12px;
        padding: 1px 3px;
        border-radius: 4px;
      }
    }
  }
}
