.reset-pass-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;

    @media screen and (max-width: "480px") {
      width: 100%;
    }

    .input-wrapper {
      label {
      }

      input {
      }

      button {
      }
    }
  }
}

.Toastify__toast {
  max-width: 100%;
}

@media (max-width: 600px) {
  .Toastify__toast {
    max-width: 60%;
  }
}
