@import "../../assets/sass/main.scss";

.counter-box {
  font-size: 0.8rem;

  .plus {
    background-color: rgb(185, 185, 185);
    padding: 2px 5px;
    border: 1px solid rgb(0, 0, 42);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    text-align: center;
  }

  .counter {
    background-color: rgb(185, 185, 185);
    padding: 2px 8px;
    border: 1px solid rgb(0, 0, 42);
    user-select: none;
    display: inline-block;
    text-align: center;
    width: 30px;
  }

  .minus {
    background-color: rgb(185, 185, 185);
    padding: 2px 5px;
    border: 1px solid rgb(0, 0, 42);
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    user-select: none;
    cursor: pointer;
    display: inline-block;
    width: 20px;
    text-align: center;
  }
}

.trash {
  cursor: pointer;
}
