@import "../../assets/sass/main.scss";

.counter-box {
  font-size: 0.6rem;

  .plus {
    background-color: gray;
    padding: 2px 5px;
    border: 1px solid rgb(0, 0, 42);
    border-right: none;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    user-select: none;
    cursor: pointer;
  }

  .counter {
    background-color: gray;
    padding: 2px 8px;
    border: 1px solid rgb(0, 0, 42);
    user-select: none;
  }

  .minus {
    background-color: gray;
    padding: 2px 5px;
    border: 1px solid rgb(0, 0, 42);
    border-left: none;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    user-select: none;
    cursor: pointer;
  }
}
