header {
  border-bottom: 2px solid rgb(205, 205, 205);
  padding: 2rem 0;

  .navigation-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media screen and (max-width: $small-screen) {
      flex-direction: column;
      gap: 1.5rem;
    }

    .currency {
      display: flex;
      align-items: center;
      gap: 5px;
      color: #333;
      font-family: Arial, Helvetica, sans-serif;

      & label {
        margin-right: 10px;
      }

      select {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: #f5f5f5;
        color: #555;
        font-size: 14px;
        cursor: pointer;
        transition: border-color 0.3s ease-in-out;

        &:hover {
          border-color: #999;
        }

        option {
          background-color: #fff;
          color: #555;
        }
      }
    }

    .navigation {
      nav {
        width: 100%;
        font-family: monospace;
        ul {
          display: flex;
          gap: 2rem;
          list-style: none;
          align-items: center;

          li {
            a {
              color: black;
              text-decoration: none;
            }
          }

          .dropdown {
            position: relative;
            display: inline-block;

            .dropbtn {
              border: none;

              a {
                display: flex;
                align-items: center;
                svg {
                  display: inline;
                  transition: transform 0.3s linear;
                }
              }

              &:hover svg {
                transform: rotate(90deg);
                transition: transform 0.3s linear;
              }
            }
            .dropdown-content {
              opacity: 0;
              visibility: hidden;
              transition: opacity 0.5s ease, visibility 0.5s ease;
              position: absolute;
              right: 0;
              border-radius: 0.5rem;
              overflow: hidden;
              min-width: 160px;
              background-color: #f1f1f1;
              box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
              z-index: 1;

              & a {
                color: black;
                padding: 12px 16px;
                text-decoration: none;
                display: block;
                cursor: pointer;

                &:hover {
                  background-color: #ddd;
                }
              }
            }

            &:hover .dropdown-content {
              opacity: 1;
              visibility: visible;
            }
          }
        }
      }
    }
  }
}
